<!-- <h3 class="mt-2">
      New Hero Add: {{heroData.heroName }}- {{heroData.heroGender}} - {{heroData.heroAge}}
</h3> -->

<div class="card" class="mt-2">
      <div class="card-header">
        Hero #{{index + 1}}
      </div>
      <div class="card-body">
        <h5 class="card-title">New Hero Add: {{heroData.heroName }}- {{heroData.heroGender}} - {{heroData.heroAge}}</h5>
        <a href="#" class="btn btn-success">Accept</a>
        <a href="#" class="btn btn-danger ms-2">Reject</a>
      </div>
    </div>